body{
 
    background:url(https://i.imgur.com/pg3apop.jpg);
    background-size:cover;
  background-attachment: fixed;
    color: rgb(243, 247, 57);
      left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    overflow: overlay;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;

}




